body {
    background-color: #1c1c1e;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #2c2c2e;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    margin: 20px 0;
    margin-top: 40px;
}

.wallet-icon img {
    margin-bottom: 0px;
    width: 100px;
    height: 100px;
}

h1 {
    font-size: 22px;
    margin-bottom: 5px;
}

p {
    font-size: 14px;
    color: #a1a1a1;
}

.feature {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.icon {
    font-size: 20px;
}

.primary-btn, .secondary-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.primary-btn {
    background-color: #7d5fff;
    color: white;
}

.secondary-btn {
    background-color: transparent;
    color: #a1a1a1;
    border: 1px solid #a1a1a1;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    cursor: pointer;
}